/*Global styling*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/*Header section*/

header {
    width: 100%;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2rem;
}

.radical {
    color: black;
}

.hair {
    color: grey;
    font-style: italic;
}

.navbar {
    background-color: white !important;
    color: black !important;
    padding: 0 1rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
PADDING: 0 .75rem;
}

.nav-link {
    color: black !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

nav {
    border-bottom: 1px solid #e7e7e7;
}

.nav-link:hover {
    background-color: black;
    color: white !important;
}

.logo {
    width: 120px;
    height: 46px
}

@media only screen and (max-width: 780px) {
    .radical {
        color: white;
    }
    
    .navbar {
        background-color: black !important;

    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        background-color: white;
        color: black !important;
    }

}

/* Salon description  */
.presentation {
    display: flex;
    margin: 0 auto;
}

.presentation-title {
    background-color: white;
    width:30%;
    margin-top: -120px;
    padding: 30px;
}

.presentation h1 {
    width: auto;
    font-size: 5rem;
    padding: 0;
    margin: 0;

}

.presentation article {
    padding: 30px;
    font-size: 2rem;
    font-weight: 300;
}

/* salon pictures */
#salon-pictures {
    padding-top: 70px;
}

#salon-pictures img {
    width: 100%;
}

.salon-img {
    width: 50%;
}

.salon-img-container {
    width: 50%;
}


/* Meet the team section */

#meet-the-team {
    padding: 90px 15px 15px 15px;
}

.team-text h1 {
    font-size: 3.5rem;
}

.team-text p {
    font-weight: 300;
}

.team-text, .team-cards {
    padding: 0;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.team-cards {
    display: flex;
    justify-content: space-evenly;
}


/*Services and prices section */

thead {
   background-color: black; 
   color: white;
}




/**
* Responsive
**/

/* xl screens*/
@media only screen and (min-width: 1450px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 750px;
    }
    .carousel-inner{
        height: 750px;
    }
}

/* large screen */
@media only screen and (min-width: 1025px) and (max-width: 1449px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 580px;
    }
    .carousel-inner{
        height: 580px;
    }

    /* presentation */
    .presentation h1 {
         font-size: 3rem;
    }
    
    .presentation article {
        font-size: 1.5rem;
    }
    
 }

 /* large tablet or small laptop screen */
 @media only screen and (min-width: 780px) and (max-width: 1024px) {
     /* carousel*/
    .carousel-inner{
        width: 100%;
        height: 500px;
    }     
        .carousel-inner img{
        min-width: 100%;
        height: 500px;
    }

        /* presentation */
        .presentation h1 {
            font-size: 2rem;
       }
       
       .presentation article {
           font-size: 1rem;
       }
 }

 /* max tablet size */
@media only screen and (max-width: 780px) {
    /* carousel*/
    .carousel-inner{
        height: 320px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 320px;
    }

    .carousel-inner h3 {
        display: none;
    }

    /* presentation */
    .presentation {
        display: block
    }

    .presentation-title {
        margin-top: 0;
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    .presentation h1 {
        font-size: 3rem;
     }
           
    .presentation article {
       font-size: 1.5rem;
       padding: 5px;
   }

 }

 /* small devices */
 @media only screen and (max-width: 590px) {
     /* carousel*/
    .carousel-inner{
        height: 220px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 220px;
    }

    /* presentation */
    .presentation h1 {
        font-size: 2.5rem;
     }
        
    .presentation article {
       font-size: 1rem;
   }
 }