/*Global styling*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    margin:0;
    padding:0;
    background-color: snow;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    font-size: 3.3rem;
    padding-bottom: 15px;
}

p, article, th, td, a, li, .btn-custom {
    font-size: 1.1rem;
    font-weight: 300;
}

section, footer {
    margin-top: 70px;
}

.red {
    color: red;
    font-weight: 500;
}

.note {
    font-style: italic;
    font-size: 1rem;
}

.button-wrapper {
    margin: 2px 0;
}

.btn-custom {
    background-color: black;
    color: snow;
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
}

.btn-custom:hover,  .btn:hover, .btn a:hover {
    color: black !important;
    background-color: snow;
    border: 1px solid #e7e7e7;
}

.btn:focus {
    box-shadow: none;
}

/*Header section*/

header {
    width: 100%;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2rem;
}

.radical {
    color: black;
}

.hair {
    color: grey;
    font-style: italic;
}

.navbar {
    background-color: snow !important;
    color: black !important;
    padding: 0 1rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: 0 .75rem;
}

.centered {
    margin: auto;
}

.nav-link {
    color: black !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

nav {
    border-bottom: 1px solid #e7e7e7;
}

.nav-link:hover {
    background-color: black;
    color: snow !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.active {
    background-color: black;
    color: snow !important;
}

.logo {
    width: 120px;
    height: 46px
}

@media only screen and (max-width: 780px) {
    .radical {
        color: snow;
    }
    
    .navbar {
        background-color: black !important;
    }

    .nav-link {
        color: snow !important;
    }

    .nav-link:hover {
        background-color: snow;
        color: black !important;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .active {
        background-color: snow;
        color: black !important;
    }

    .navbar ul a {
        font-size: 1.3rem;
    }

    .float-right {
        text-align: center;
        float: none !important;
    }

}

/* Salon description  */
#slider-presentation {
    margin-top: 0;
}

.presentation h1 {
    text-align: center;
}

.presentation {
    display: flex;
    margin: 0 auto;
}

.presentation-title {
    background-color: snow;
    opacity: 0.9;
    width: 30%;
    margin-top: -120px;
    padding: 30px 30px 0 30px;
}

.presentation h1 {
    width: auto;
    font-size: 5rem;
    padding: 0;
    margin: 0;

}

.presentation h4 {
    padding: 30px 15px 0 15px;
}

/* salon pictures */

#salon-pictures img {
    width: 100%;
}

.salon-img {
    width: 50%;
}

.salon-img-container {
    width: 50%;
}


/* Meet the team section */

#meet-the-team .card {
    margin: 0 0.4rem;
}

.team-cards {
    padding: 0px;
}

.team-text {
    padding: 0 15px;
        
}

.team-text h4 {
    padding-bottom:15px;
}

.card-title {
    font-weight: 300;
}

.team-cards {
    display: flex;
    justify-content: space-evenly;
}

/* Products brand section */

.brand-wrap {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    max-width: 250px;
    max-height: 200px;
}

.brand img {
    width: 100%;
}

.brand-container {
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right, red, orange, yellow);
}

.brand-wrapper {
    width:100%;
    height:200;
        background: red; /* For browsers that do not support gradients */
        background: linear-gradient(to right, red, orange, yellow);
}

/* Offers section */

#offers h1 {
    padding-left: 15px;
}

#offers .offer-container {
    background: black;
}

#offer {
    width: 100%;
    padding: 0;
}

.offer-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
}

.offer-img {
    width: 25%;

}

.offer-img img {
    height: 100% !important;
}

.card {
    width: 75%;
    border: none;
    background-color: black;
    color: snow;
    border-radius: 0;
    margin: 0;
}

.card h2, .card p {
    padding: 1rem;
    margin: 1.5rem 0;
}

.card h2 {
    color: red;
    font-weight: 600;
}

#carousel-inner-offer {
    height: 300px;
}


/* Footer section */

footer {
    background-color: black;
    padding-top: 2rem;
    color: snow;
}

#map {
    width: 100%;
    height: 450px;
    border:0 ;
}

.map {
    margin-bottom: 2rem;
}

/**
* Responsive
**/

/* xl screens*/
@media only screen and (min-width: 1450px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 750px;
    }
    .carousel-inner{
        height: 750px;
    }

    /* Offers */
    .card {
        width: 75%;
    }

    .offer-img {
        width: 25%;
    }
}

/* large screen */
@media only screen and (min-width: 1025px) and (max-width: 1449px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 580px;
    }
    .carousel-inner{
        height: 580px;
    }

    /* presentation */
    .presentation h1 {
         font-size: 3rem;
    }  

    /* Offers */
    .card {
        width: 75%;
    }

    .offer-img {
        width: 25%;
    }
 }

 /* large tablet or small laptop screen */
 @media only screen and (min-width: 780px) and (max-width: 1024px) {
     /* carousel*/
    .carousel-inner{
        width: 100%;
        height: 500px;
    }     
        .carousel-inner img{
        min-width: 100%;
        height: 500px;
    }

    .presentation h1 {
        font-size: 3rem;
     }
    
     /* Offers */
    .card {
        width: 70%;
    }

    .offer-img {
        width: 30%;
    }

 }

 /* max tablet size */
@media only screen and (max-width: 779px) {
    /* carousel*/
    .carousel-inner{
        height: 320px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 320px;
    }

    .carousel-inner h3 {
        display: none;
    }

    /* presentation */
    .presentation {
        display: block
    }

    .presentation-title {
        margin-top: 0;
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    .presentation h1 {
        font-size: 3rem;
     }

   .presentation h4 {
    padding: 15px 15px 0 15px;
    margin-bottom: -15px;
    }

   /* Salon pictures */

   .salon-img,
   .salon-img-container {
       width: 100%;
   }

    /* Offers */
    .card {
        width: 100%;
    }

    .offer-img {
        display: none;
    }

 }

@media only screen and (max-width: 767px) {

    /* Contact Page */
    .contact-split {
        width: 100% !important;
    }
}

 /* small devices */
 @media only screen and (min-width: 590px) {
    .toggle-view-phone {
        display: none;
    }
 }

 @media only screen and (max-width: 589px) {
     /* carousel*/
    .carousel-inner{
        height: 220px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 220px;
    }

    /* presentation */
    .presentation {
        padding: 0;
    }

    .presentation-title {
        padding-left: 15px;
        padding-right: 15px;
    }
 

     /* booking */
     .toggle-view-tablet {
         display: none;
     }
 }

 /*********************************************************************************************
 TERMS PAGE STYLE
 *********************************************************************************************/

.terms-wrap {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

 .terms, .terms li {
     font-size: 1rem;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     list-style-type: square;
 }

 .terms p{
     font-weight: 400;
 }

 .terms ul {

    padding-left: 15px;
 }

 .terms-wrap h1 {
     padding-top: 20px;
 }

 /*********************************************************************************************
 CONTACT PAGE STYLE
 *********************************************************************************************/

 .contact-split {
     width: 50%;
     padding: 0 15px;
 }

 .contact-wrap {
    max-width:450px;
    margin: 0 auto;
 }

 .form-row {
     padding: 0.5rem 0;
     margin: 0;
     display:flex;
     flex-direction: column;
 }

 .contact-form {
     font-size: 1.3rem;
     font-weight: 300;
 }

#form h1 {
    padding: 15px 0 0 0;
}

 #contact label{
    padding-right: 1rem;
 }

 #contact input, 
 #contact textarea, 
 #contact select {
     font-weight: 300;
     font-size: 1.1rem;
 }

 #contact option, #contact select {
    background-color: black;
    color: snow;
 }

 #contact select:hover {
    background-color: snow;
    color: black;
 }

 #contact select.decorated option:hover {
    background-color: snow;
    color: black;
 }

 #message {
    min-height: 200px;
 }

input:focus,
textarea:focus,
select:focus,
option:focus {
    outline: none;
    border-color: black;
}


/*********************************************************************************************
    Services and prices PAGE
 *********************************************************************************************/

thead {
   background-color: black; 
   color: snow;
}

.thead tr:nth-child(1) {
    max-width: 400px;
}

#booking-btn-services-bottom {
    margin-bottom: -122px;
}

/*********************************************************************************************
    Booking/Calendar/Rezervari Page
 *********************************************************************************************/


.calendar-iframe{
    margin: auto;
    width: 100%;
    height: 600px;
    border-width: 0;
    padding: 15px;
}

#booking-details ul li{
    list-style: square;
    line-height: 2.5rem;
}

#booking-details ul {
    margin-left: 15px;
}




/*********************************************************************************************
    Animations
 *********************************************************************************************/

 .js--wp-1,
 .js--wp-2,
 .js--wp-3,
 .js--wp-4,
 .js--wp-5,
 .js--wp-6,
 .js--wp-7,
 .js--wp-8,
 .js--wp-9,
 .js--wp-10,
 .js--wp-11 {
    opacity: 0;
    animation-duration: 1s;
 }

 .js--wp-1.animated,
 .js--wp-2.animated,
 .js--wp-3.animated,
 .js--wp-4.animated,
 .js--wp-5.animated,
 .js--wp-6.animated,
 .js--wp-7.animated,
 .js--wp-8.animated,
 .js--wp-9.animated,
 .js--wp-10.animated,
 .js--wp-11.animated {
    opacity: 1;
}
