/*Global styling*/

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
    padding-bottom: 15px;
}

p, article, th, td, a, li {
    font-size: 1.1rem;
    font-weight: 300;
}

section, footer {
    margin-top: 70px;
}

.red {
    color: red;
    font-weight: 500;
}

.note {
    font-style: italic;
    font-size: 1rem;
}

/*Header section*/

header {
    width: 100%;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2rem;
}

.radical {
    color: black;
}

.hair {
    color: grey;
    font-style: italic;
}

.navbar {
    background-color: white !important;
    color: black !important;
    padding: 0 1rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler {
    padding: 0 .75rem;
}

.nav-link {
    color: black !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

nav {
    border-bottom: 1px solid #e7e7e7;
}

.nav-link:hover {
    background-color: black;
    color: white !important;
}

.logo {
    width: 120px;
    height: 46px
}

@media only screen and (max-width: 780px) {
    .radical {
        color: white;
    }
    
    .navbar {
        background-color: black !important;

    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        background-color: white;
        color: black !important;
    }

}

/* Salon description  */
#slider-presentation {
    margin-top: 0;
}

.presentation {
    display: flex;
    margin: 0 auto;
}

.presentation-title {
    background-color: rgba(255, 255, 255, 0.9);
    width:30%;
    margin-top: -120px;
    padding: 30px 30px 0 30px;
}

.presentation h1 {
    width: auto;
    font-size: 5rem;
    padding: 0;
    margin: 0;

}

.presentation h4 {
    padding: 30px 30px 0 30px;
}

/* salon pictures */

#salon-pictures img {
    width: 100%;
}

.salon-img {
    width: 50%;
}

.salon-img-container {
    width: 50%;
}


/* Meet the team section */

.team-text, .team-cards {
    padding: 0px;
}

.team-text p {
    padding: 0 0.5rem;
}

.card-title {
    font-weight: 300;
}

.team-cards {
    display: flex;
    justify-content: space-evenly;
}

/* Offers section */

#offer {
    width: 100%;
}

.offer-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
}

.offer-img {
    width: 25%;

}

.offer-img img {
    height: 100% !important;
}

.card {
    width: 75%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0;
    padding-top: 5%;
}

.card h2, .card p {
    padding: 1rem;
}

.card h2 {
    color: red;
    font-weight: 600;
}

#carousel-inner-offer {
    height: 300px;
}


/* Footer section */

footer {
    background-color: black;
    padding-top: 2rem;
    color: white;
}

#map {
    width: 100%;
    height: 300px;
}


/**
* Responsive
**/

/* xl screens*/
@media only screen and (min-width: 1450px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 750px;
    }
    .carousel-inner{
        height: 750px;
    }

    /* Offers */
    .card {
        width: 75%;
    }

    .offer-img {
        width: 25%;
    }
}

/* large screen */
@media only screen and (min-width: 1025px) and (max-width: 1449px) {
    /* carousel*/
    .carousel-inner img{
        min-width: 100%;
        height: 580px;
    }
    .carousel-inner{
        height: 580px;
    }

    /* presentation */
    .presentation h1 {
         font-size: 3rem;
    }  

    /* Offers */
    .card {
        width: 75%;
    }

    .offer-img {
        width: 25%;
    }
 }

 /* large tablet or small laptop screen */
 @media only screen and (min-width: 780px) and (max-width: 1024px) {
     /* carousel*/
    .carousel-inner{
        width: 100%;
        height: 500px;
    }     
        .carousel-inner img{
        min-width: 100%;
        height: 500px;
    }

    .presentation h1 {
        font-size: 3rem;
     }
    
     /* Offers */
    .card {
        width: 70%;
    }

    .offer-img {
        width: 30%;
    }

 }

 /* max tablet size */
@media only screen and (max-width: 779px) {
    /* carousel*/
    .carousel-inner{
        height: 320px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 320px;
    }

    .carousel-inner h3 {
        display: none;
    }

    /* presentation */
    .presentation {
        display: block
    }

    .presentation-title {
        margin-top: 0;
        width: 100%;
        padding: 20px 10px 10px 10px;
    }

    .presentation h1 {
        font-size: 3rem;
     }
           
    .presentation article {
       padding: 5px;
   }

    /* Offers */
    .card {
        width: 100%;
    }

    .offer-img {
        display: none;
    }

 }

@media only screen and (max-width: 767px) {

    /* Contact Page */
    .contact-split {
        width: 100% !important;
    }
}

 /* small devices */
 @media only screen and (min-width: 590px) {
    .toggle-view-phone {
        display: none;
    }
 }

 @media only screen and (max-width: 589px) {
     /* carousel*/
    .carousel-inner{
        height: 220px;
    }
    .carousel-inner img{
        min-width: 100%;
        height: 220px;
    }

    /* presentation */
    .presentation {
        padding: 0;
    }

    .presentation-title {
        padding-left: 0;
        padding-right: 0;
    }
    .presentation h1 {
        font-size: 2.3rem;
     }

     /* booking */
     .toggle-view-tablet {
         display: none;
     }
 }

 /*********************************************************************************************
 TERMS PAGE STYLE
 *********************************************************************************************/

.terms-wrap {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

 .terms article, .terms li {
     font-size: 1rem;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     list-style-type: square;
 }

 .terms article {
     font-weight: 400;
 }

 .terms ul {

    padding-left: 15px;
 }

 .terms-wrap h1 {
     padding-top: 20px;
 }

 /*********************************************************************************************
 CONTACT PAGE STYLE
 *********************************************************************************************/

 .contact-split {
     width: 50%;
 }

 .contact-wrap {
     max-width:450px;
    margin: 0 auto;
 }

 .form-row {
     padding: 0.5rem;
     margin: 0;
     display:flex;
     flex-direction: column;
 }

 .contact-form {
     font-size: 1.3rem;
     font-weight: 300;
 }

 #contact label{
    padding-right: 1rem;
 }

 #contact input, 
 #contact textarea, 
 #contact option, 
 #contact select {
     font-weight: 300;
     font-size: 1.1rem;
 }

 #contact option, #contact select {
    background-color: black;
    color: white;
 }

 #contact select:hover {
    background-color: white;
    color: black;
 }

 #contact select.decorated option:hover {
    background-color: white;
    color: black;
 }

 #message {
     min-height: 200px;
 }

 /* Check-boxes */

input[type=checkbox] {
    background-color: black;
    width: 20px;
    height: 20px;
    margin: 0 0 0 10px;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
    outline: none;
    border-color: black;
}

input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 0;
    border: none;
    height: 40px;
}

input[type=submit]:hover {
    font-size: 1.5rem !important;
}

input[type=submit]:active {
    font-size: 1.1rem !important;
}

/*********************************************************************************************
    Services and prices PAGE
 *********************************************************************************************/

thead {
   background-color: black; 
   color: white;
}

.thead tr:nth-child(1) {
    max-width: 400px;
}

/*********************************************************************************************
    Booking/Calendar/Rezervari Page
 *********************************************************************************************/


#calendar-iframe{
    margin: auto;
    width: 100%;
    padding: 15px;
}

#booking-details ul li{
    list-style: square;
    line-height: 2.5rem;
}

#booking-details ul {
    margin-left: 15px;
}

.btn-custom {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%
}

.btn:focus {
    box-shadow: none;
}
